/* stylesheet for IE lt 9 only */

#flyout-container,
#itemlist,
#itemlist img,
#itemdescription {
	display: none;
}

@font-face {
    font-family: 'Banda';
    src: url('fonts/regular-webfont.eot');
    src: url('fonts/regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/regular-webfont.woff') format('woff'),
         url('fonts/regular-webfont.ttf') format('truetype'),
         url('fonts/regular-webfont.svg#BandaRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cassannet';
    src: url('fonts/cassannet-webfont.eot');
    src: url('fonts/cassannet-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cassannet-webfont.woff') format('woff'),
         url('fonts/cassannet-webfont.ttf') format('truetype'),
         url('fonts/cassannet-webfont.svg#BandaRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 44px;
	font-family: 'cassannet', sans-serif;
	line-height: 63px;
    margin-top: 21px;
    margin-bottom: 42px;
}

	#masthead h1 {
		margin: 0;
	}

h2 {
	font-size: 25px;
	line-height: 63px;
	font-family: 'Banda', sans-serif;
}

h3 {
	font-family: 'cassannet', sans-serif;
	font-size: 25px;
	line-height: 42px;
	margin-top: 42px;
    margin-bottom: 21px;
	text-shadow: 0px 1px 1px #c3c3c3;
}